/* Header */
header {
    width: 100%;
    min-height: 275px;
}
#home {
    background: no-repeat white url(images/cliff_ocean.jpg);
    background-size: contain;
    min-height: 400px;
}

/* Activity header width width 992 and lower */
@media only screen and (max-width: 992px) {
    #activity-header  {
        min-height: 600px;
        width: auto;
        background: no-repeat white url(images/runfly.jpg);
        background-size: contain;
}
}
/* Activity header width width 992 and higher */
@media only screen and (min-width: 993px) {
    #activity-header  {
        min-height: 800px;
        width: auto;
        background: no-repeat white url(images/runfly.jpg);
        background-size: contain;
}
} 

#contact  {
    background: no-repeat white url(images/cliff_rock.jpg);
    background-size: contain;
    min-height: 400px;
}

/* Activity header width width 992 and lower */
@media only screen and (max-width: 992px) {
    #activity-header  {
        min-height: 600px;
        width: auto;
        background: no-repeat white url(images/runfly.jpg);
        background-size: contain;
}
}
/* Activity header width width 992 and higher */
@media only screen and (min-width: 993px) {
    #activity-header  {
        min-height: 800px;
        width: auto;
        background: no-repeat white url(images/runfly.jpg);
        background-size: contain;
}
} 



#cliffs {
    background: no-repeat white url(images/forest_cliff.jpg);
    background-size: contain;
    min-height: 400px;
}
.main-header {
    background-color:rgba(38, 41, 61, 0.8) ;
    max-width: 701px;
    margin: 2em auto 1em auto;
    min-height: 100px;
    height: 104px;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}

.logo img{
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}



/* Navigation */
.navbar {
    margin-left: 227px;
    font-weight: 400;
    min-height: 100px;
    height: 104px;
}
.nav-item {
    list-style-type: none;
    float: left;
    padding-left: 20px;
    padding-right: 26px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 80px;
    text-transform: uppercase;
    font-size: 14px;
    background-color:rgba(38, 41, 61, 0.2) ;
    color: #fff;
}
.nav-link {
    text-decoration: none;
    color: #fff;

}
.nav-link:hover {
    color: #9ed034;
}
.nav-item.active {
    background: #9ed034;
    border: none;
}
.nav-link.active {
    color: #fff;
}
.navbar-toggler {
    float: right;
}
.navbar-nav {
    max-width: 100px;
    float: right;
}
#navbarContent {
    color: #fff;
}

/* Clock */
/* #timeofday {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #3a3a3a;
    height: 2.5em;
    padding-top: 20px;
    background: linear-gradient(0deg, rgba(251,515,139,1) 0%, rgba(118,213,245,1) 100%);
}
#clock {
    color: #125688;
    font-weight: bold;
} */

/* Main */
main {
    padding: 10px 6em 1em 5.5em;
    margin: 10px 0;
    font-family:Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}
main h2 {
    font-size: 1.7em;
    color: #9ed034;
}
.col-sm-5 {
    border: 1px solid lightgray;
    text-align: left;
}
.row {
    width: 95%;
    height: 95%;
}

/* Partners */
section {
    width: 100%;
    background-color: #4288C3;
}
section #partners {  
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}
.col-md-4 {
    text-align: left;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
    
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

/* Activities */
table {
    max-width: 1000px;
    max-height: 600px;
    margin: 5em auto 0 auto;
}
#caption {
    background: #852b1b;
    height: 3em;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    caption-side:top
}

thead {
    background-color: #bde1ff;
    text-align: center;
}
tbody {
    background-color: #eeffe6;
    text-align: center;
}
th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852b1b;
}
th:first-child {
    width: 125px;
    height: 50px;
    background-color: #4977d1;
    color: white;
}
td:first-child {
    font-weight: bold;
    background-color: #bde1ff;
}

/* Table Toggle */
#modalbtn {
    display: none;
}
#events.active {
    background: #9ed034;
    color: #fff;
}
#events {
    cursor: pointer;
}

/* #displaySelected {

    margin: 2em auto;
    width: 800px;
    height: 200px;
    border: 2px solid #9ed034;
    padding: 0.75em;
}
#displaySelected #result, #displaySelected #sendinfo {
    display: inline-block;
    margin: 0;
} */
/* #result {
    min-height: 50px;
    width: 400px;
    padding: 0;
}
#result h4 {
    margin-bottom: 1em;
    font-size: 1.15em;
} */
#sendinfo input[type="email"] {
    width: 300px;
    display: inline-block;
}
#sendinfo button {
    display: inline-block;
}


/* Contact */
.contactinfo {
    line-height: 35px;
    padding-bottom: 7px;
    padding-top: 10px;
}
span:first-child {
    font-weight: bold;
}

/* Form */
fieldset {
    border: #9ed034 3px solid;
}
legend {
    font-weight: bold;
    color: #4977d1;
    text-transform: uppercase;
}

/* textbox */
.textbox {
    display: block;
    font-weight: bold;
    margin: 30px 0 30px 30px;
}
input {
    display: block;
    width: 600px;
    height: 35px;
    border: lightgrey solid 3px;
    margin-bottom: 20px;
}

/* radio */
input[type="radio"] {
    width: 25px;
    height: 15px;
    display: inline;
    margin: 0px 0 30px 0px;
}
.radios label {
    font-weight: bold;
    margin: 0px 0 0px 30px;
    display: inline;
}

/* select */
.selectmenu label {
    margin: 0 0 30px 30px;
    font-weight: bold;
}
select {
    margin: 0 0 30px 0px;
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    border: lightgrey solid 3px;
}

/* textarea */
.commentbox label {
    margin: 0 0 0 30px;
    font-weight: bold;
    display: block;
}
textarea {
    margin: 0 0 0 30px;
    width: 600px;
    height: 250px;
    resize: none;
    border: lightgrey solid 3px;
}
input[type="submit"] {
    width: 160px;
    height: 49px;
    /*background-color: #4f74c2;*/
    color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    margin: 20px 0 30px 480px;
}
.btn {
    width: 160px;
    height: 49px;
    color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    margin: 20px 0 30px 480px;
    display: inline;
}

/* Random Number Generator */
input[name="randomecode"] {
    width: 160px;
    display: inline;
    margin-left: 300px;
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: large;
}
#codes {
    background-color: rgba(128, 128, 128, 0.4);
    padding: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}


/* Images-Cliffs */
.column {
    float: left;
    width: 45%;
    padding: 0px 15px 15px 15px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.caption {
    background-color: #852b1b;
    color: #fff;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
}
/* Home */



/* ACTIVATE BELOW WHEN TESTING NAVIGATION AND OTHERS FOR RWD */

/* Media Queries */
@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 3.5em 0em 3.5em 0em;
        text-align: center;
        float: none;
        font-size: 0.9em;
      }
      footer #nondisclaimer .social {
        padding: 2.5em 0;
        margin: 0;
        text-align: center;
        float: none;
      }
}

@media (max-width: 992px) {
    .logo img {
        position: relative;
        bottom: 8px;
    }
    .main-menu {
        width: 200px;
        background-color:rgb(255, 255, 255);
        position: absolute;
        right: 1.7em;
      }
      .main-menu ul li {
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
      }
      main {
        padding: 10px 1em 3em 1em;
        margin: 0;
      }
      #home .main-col-content {
        padding: 25px;
        min-height: 450px;
        margin-top: 1em;
      }
}